/* Set box-sizing to border-box and adjust font size */
html {
  box-sizing: border-box;
  font-size: 62.5%; /* equivalent to 10px */
  tab-size: 4;
  word-break: break-all;
  overflow: hidden auto;

  --body-bg-color: #b42d2d;
  --white-bg-color: #fff;
  --black-bg-color: #000;
  --dark-text-color: #313131;
  --light-text-color: #dddddd;
  --warning-text-color: #b42d2d;
}

/* Reset default styles for all elements */
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  background-color: transparent;
  background-repeat: no-repeat;
}

*::before,
*::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

/* Set base styles for the body */
body {
  min-height: 100dvh;
  line-height: 1.5;
  scroll-behavior: smooth;
  overscroll-behavior: none;
  text-rendering: optimizeSpeed;
  font-size: 1.6rem; /* equivalent to 16px */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans",
    "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  text-align: center;
  background-color: var(--body-bg-color);
  padding: 1rem;
}

.cell-col,
.btn {
  cursor: pointer;
}

h1 {
  color: var(--dark-text-color);
  text-align: center;
  position: relative;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 110%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 25.1rem;
    height: 0.5rem;
    background-color: var(--dark-text-color);
  }
}
.clear-board-btn {
  cursor: pointer;
  margin-top: 1.5rem;
  height: 3.5rem;
  width: 25.1rem;
  border: 0.5rem solid;
  background-color: var(--white-bg-color);
  color: var(--dark-text-color);
  font-weight: bold;
  transition: background-color 0.1s ease-in-out;

  &:hover {
    background-color: var(--black-bg-color);
    color: var(--light-text-color);
  }
}

.result-info-container {
  width: 41.5rem;
  margin: 1rem auto;
  background-color: var(--white-bg-color);
  border: 1px solid;

  .warning-info {
    color: var(--warning-text-color);
    font-size: 2rem;
    font-weight: bold;
  }
}

table {
  margin: 1rem auto 0;
}

.cell-row {
  position: relative;

  span::after {
    content: attr(data-cell-row-coord);
    font-weight: bold;
    font-size: 1.5rem;
    font-weight: bold;
    position: absolute;
    color: #fff;
    top: 1.2rem;
    left: -2rem;
  }
}

.cell-col {
  position: relative;
  height: 5rem;
  width: 5rem;
  border: 1.5px solid grey;
  border-style: inset;
  transition: background-color 0.1s ease-in-out;

  &::after {
    content: attr(data-cell-col-coord);
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: opacity 0.1s ease-in-out;
  }

  /* Numbers should not be displayed in cells with Knight */
  &:has(img) {
    background-color: grey !important;
    &::after {
      content: "";
      opacity: 0;
    }
  }

  &:hover {
    background-color: gray !important;
  }
}

.cell-col.white {
  background-color: var(--white-bg-color);
  color: var(--dark-text-color);
}

.cell-col.black {
  background-color: var(--black-bg-color);
  color: var(--light-text-color);
}

img {
  height: 3rem;
  width: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
